﻿body {
    background-color: dimgray;
}
.userAnswer {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    background-color:cornflowerblue;
}
.allProducts {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    background-color: cadetblue;
   
}